.info{
   display: flex;
   align-items: center;
   gap: 30px;
   padding: 17px 25px;
   border-radius: 5px;
   margin-bottom: 24px;
   box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 9%);

   .icon{
      width: 70px;
      height: 70px;
      border-radius: 50px;
      background: #f9a51a3b;
      display: flex;
      align-items: center;
      justify-content: center;

      svg{
         font-size: 18px;
      }
   }
   .text{
      h3{
         font-size: 18px;
         font-weight: 600;
      }
      p{
         font-size: 14px;
         margin: 0;
      }
   }
}