#main{
   width: 100%;
   height: 100vh;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

   .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgb(12 12 12 / 69%);
  }

  .content{
      position: absolute;
      width: 100%;
      top: 30%;
      z-index: 1;

      .category-content{
        padding-right: 45px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        
        h1{
            font-weight: 600;
            font-size: 97.6842px;
            line-height: 117px;
            color: #FFFFFF;
        }
        p{
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
        }
      }
  }

.slick-slide.slick-active {
    width: 250px !important;
    margin-right: 20px;
    border-radius: 20px;
    div{
        height: 415px;
        overflow: hidden;
    }
}

.slick-slide.slick-active.slick-current {
    border: 3px solid #FBBC04;
    border-radius: 20px;
}

.slick-prev:before, .slick-next:before {
    font-size: 25px;
}

button.slick-arrow.slick-prev {
    top: -25px;
    left: 89%;
}

button.slick-arrow.slick-next {
    top: -25px;
    right: 40px;
}

}

.category-card{
    text-decoration: none;
    overflow: hidden;
    border-radius: 20px;
    .card-content{
        width: 100%;
        height: 415px;
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        .card-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(0.12deg, #000000 0.1%, rgba(0, 0, 0, 0) 69.96%);
            border-radius: 20px;
        }
        span{
            font-weight: 400;
            font-size: 36px;
            line-height: 43px;
            color: #FFFFFF;
            padding: 35px 20px;
            z-index: 1;
        }
    }
}